:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(0, 0%, 14.1%);
  /* --code-bg-color: hsl(0, 0%, 32%); */
  --code-bg-color: hsl(0, 0%, 32%);
}

* {
  min-width: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 4px solid hsl(210.2, 95%, 72.8%);
}

html,
body {
  margin: 0;
  min-height: 100dvh;
  scrollbar-gutter: stable;
  margin-inline: auto;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a {
  color: cornflowerblue;
}

:not(pre) > code {
  background-color: var(--code-bg-color);
  padding: 2px 4px;
  border-radius: 2px;
}
